body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  h4 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 650px;
}